name: Update availability

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests beautifulsoup4
      - name: List files
        run: ls -R
      
      - name: Run scraper
        run: python scraper.py

      - run: |
          git config user.name github-actions
          git config user.email actions@github.com
          git add availability.json
          git commit -m "update availability" || echo "no changes"
          git push
