name: Update data

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install requests beautifulsoup4 python-dateutil

      - name: Run scrapers
        run: |
          python scraper.py
          python scrape_reviews.py

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git pull --rebase origin main

          if git diff --quiet; then
            echo "No hay cambios"
            exit 0
          fi

          git add availability.json reviews.json
          git commit -m "update availability and reviews"
          git push origin main
