name: Update availability

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests beautifulsoup4
     
      
      - name: Debug files
        run: |
          pwd
          ls -la
      
      - name: Run scraper
        run: python ./scraper.py
      - name: Commit and push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
      
          if git diff --quiet; then
            echo "No hay cambios, no se hace commit"
            exit 0
          fi
      
          git add availability.json
          git commit -m "update availability"
          git pull --rebase origin main
          git push origin main
